<!DOCTYPE html>
<html>
<head>
	<title>stockoc</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
    <script src="../login_state.js"></script>
</head>
<body onload="isLoggedIn()">

<div class="header">
  <a href="/" class="logo">Rose</a>
  <div class="header-right">
    <a href="/home">home</a>
    <a href="/login">login</a>
    <a onclick="logOut()">logout</a>

  </div>
</div>

<br>
<br>
<h1>Rose Home Page</h3>






</body>
</html>	